/* 设置整个页面高度占满视口 */
html {
  position: relative;
  min-height: 100%;
}

/* 设置页面内容区域最小高度为100%视口高度，以使 footer 粘贴在底部 */
body {
  margin: 0;
  padding-bottom: 100px;
  /*预留 footer 高度*/
  min-height: 100vh;
  position: relative;
}

/* 包裹 header & navbar*/
.header-navbar-container {
  flex-direction: row;
  display: flex;
  justify-content: space-between
}

.wave {
  animation-name: wave-animation;
  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.1s;
  /* Change to speed up or slow down */
  animation-iteration-count: infinite;
  /* Never stop waving :) */
  transform-origin: 70% 70%;
  /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(14deg);
  }

  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }

  30% {
    transform: rotate(14deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(0deg);
  }

  /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

/*header*/
.home-content {
  padding: 0rem 1rem !important;
  text-align: left;
}

.home-header {
  padding-top: 0rem;
}

/* Navbar */

.navbar {
  margin-top: 20px;
  font-size: 20px !important;
}

.navbar-nav .nav-link {
  color: rgb(221, 221, 226) !important;
  color: rgb(0, 0, 0) !important;
  font-size: 20px;
  font-weight: bold;
}

.mynavbar form input {
  width: 180px;
  height: 40px;
  background: rgba(255, 255, 255, 0.435);
  border: 0px solid rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  color: #040000;
  padding: 12px 26px;
  font-weight: 450;
  font-size: 14px;
  transition: 0.3s ease-in-out;
}

.mynavbar form input:focus {
  background: rgba(255, 255, 255, 1);
  border: 0;
}

.mynavbar form button {
  width: 100px;
  height: 40px;
  font-weight: 500;
  color: #ffffff;
  background-color: #2936c6;
  border: 0;
  font-size: 17px;
  border-radius: 15px;
  z-index: 1;
  margin-right: 60px;
  position: relative;
  transition: 0.3s ease-in-out;
}


/* --------- */
/* Footer */
/* --------- */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  margin-top: 30px !important;
  margin-bottom: 20px !important;
}

.footer-copyright {
  color: rgb(143, 143, 143);
  text-align: center !important;
}

.footer-body {
  z-index: 1;
  text-align: center !important;
}

.footer h3 {
  color: white !important;
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
}

.footer-icons {
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
  padding: 0 !important;
}

.blockquote-footer {
  color: #a588c0 !important;
}


/*首页*/
.popular {
  display: flex;
  
}

.popular-conferences {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: rgba(249, 249, 249, 0.5);
  /* background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%, 0.8); */
  border-radius: 13px;
  padding: 15px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.popular-journals {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: rgba(249, 249, 249, 0.5);
  /* background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%, 0.8); */
  border-radius: 13px;
  padding: 15px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.left-sidebar text{
  text-align: left;
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
}

.latest-conferences{
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: rgba(249, 249, 249, 0.5);
  /* background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%, 0.8); */
  border-radius: 13px;
  padding: 15px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.latest-journals{
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: rgba(249, 249, 249, 0.5);
  /* background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%, 0.8); */
  border-radius: 13px;
  padding: 15px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}




.flex-container {
  display: flex;
  height: 100vh;
  /* 让容器占据整个视窗高度 */
}

/* 左侧样式 */
.left-sidebar {
  flex: 4;
  /* 左侧占据 3/4 空间 */
  /* background-color: lightblue; */
}

/* 右侧样式 */
.right-sidebar {
  flex: 1;
  /* 右侧占据 1/4 空间 */
  /* background-color: lightcoral; */
}

/*详细页*/

/*详情信息*/
.detail-card {
  background-color: rgba(249, 249, 249, 0.5);
  /* background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%, 0.8); */
  border-radius: 13px;
  padding: 15px;
  margin: 10px;
  /* 添加阴影效果 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* 水平偏移量，垂直偏移量，模糊半径，阴影颜色（使用 rgba 表示颜色和透明度）*/
}

.detail-card h2 {
  color: #333;
  font-size: 16px;
}

.detail-card p {
  margin: 8px 0;
  color: gray;
  font-size: 12px;
}

.detail-card a {
  margin: 5px 0;
  color: rgb(92, 145, 243);
  font-size: 12px;
}

/*征稿信息*/
.call {
  padding: 5px;
  text-align: left;
  margin-left: 10px;
}

.overview-card {
  /* background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);  border: 1px solid #ddd; */
  background-color: rgba(249, 249, 249, 0.5);
  /* 使用 RGBA 表示颜色和透明度，0.7 表示 70% 的不透明度 */
  border-radius: 13px;
  padding: 15px;
  margin: 10px;
  /* 添加阴影效果 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* 水平偏移量，垂直偏移量，模糊半径，阴影颜色（使用 rgba 表示颜色和透明度）*/
}

.overview-card text {
  margin: 5px 2px 5px 2px;
  color: gray;
  font-size: 12px;
  justify-content: left;
  line-height: 2.0;
  /* 设置行间距为 1.5倍字体大小，可以根据需要调整 */
}


/*评论区*/
.comment {
  padding: 5px;
  text-align: left;
  margin-left: 10px;
}

.comment-area {
  padding: 15px;
  margin: 10px;
}

.follow-btn {
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
  border-radius: 13px;
  padding: 15px;
  margin: 10px;
  /* 添加阴影效果 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* 水平偏移量，垂直偏移量，模糊半径，阴影颜色（使用 rgba 表示颜色和透明度）*/
  display: flex;
}

.follow-btn span {
  flex: 1
}

.follow-btn text {
  flex: 3;
  font-weight: bold;
}

.participate-btn {
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
  border-radius: 13px;
  background-blend-mode: screen;
  border-radius: 13px;
  padding: 15px;
  margin: 10px;
  /* 添加阴影效果 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* 水平偏移量，垂直偏移量，模糊半径，阴影颜色（使用 rgba 表示颜色和透明度）*/
  display: flex;
}

.participate-btn span {
  flex: 1
}

.participate-btn text {
  flex: 3;
  font-weight: bold;
}

.follow-card {
  background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255, 255, 255, 0.50) 47%, rgba(0, 0, 0, 0.50) 100%);
  background-blend-mode: screen;
  border-radius: 13px;
  padding: 15px;
  margin: 10px;
  /* 添加阴影效果 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* 水平偏移量，垂直偏移量，模糊半径，阴影颜色（使用 rgba 表示颜色和透明度）*/
}

.follow-card .star-btn {
  display: flex;
}

.follow-card .star-btn span {
  flex: 1
}

.follow-card .star-btn text {
  flex: 3;
  font-weight: bold;
}

.follow-card .follow-list {
  margin-top: 10px;
}

/* 个人信息 */
.basic-info {
  /* background-color: rgba(249, 249, 249, 0.5); */
  background-image: linear-gradient(to top, rgba(223, 233, 243, 0.4) 0%, rgba(255, 255, 255, 0.6) 100%);
  border-radius: 13px;
  padding: 15px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.info {
  text-align: left;
  margin-left: 10px;
}

.basic-info p {
  padding: 0px;
}

.basic-info text {
  padding: 5px;
  text-align: left;
  margin-left: 10px;
}

.edit-profile {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.edit-profile input {
  width: 500px;
  margin-top: 8px;
  /* padding: 10px; */
}

.edit-profile button {
  /* width: 500px; */
  margin-top: 10px;
  /* padding: 10px; */
}


/*头像样式*/
.avatar-container {
  display: flex;
  justify-content: center;
  /* 水平居中 */
  align-items: center;
  /* 垂直居中 */
  height: 100px;
  padding: 10px;
  /* 适当调整容器高度 */
}

.avatar {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*个人信息页右侧*/
.tools-card {
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
  background-blend-mode: screen;
  border-radius: 13px;
  padding: 15px;
  margin: 10px;
  /* 添加阴影效果 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}